@import "../../../node_modules/buefy/lib/buefy.css";

@media (min-width: 768px) {
    @-webkit-keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .sf-toolbar {
        opacity: 0;
        -webkit-animation: fade-in 1s .2s forwards;
        animation: fade-in 1s .2s forwards;
    }
}